<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fresh.manager.mapper.shop.AdMapper">
  <resultMap id="BaseResultMap" type="com.fresh.manager.pojo.shop.Ad">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="ad_position_id" jdbcType="INTEGER" property="adPositionId" />
    <result column="media_type" jdbcType="SMALLINT" property="mediaType" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="link" jdbcType="VARCHAR" property="link" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="enabled" jdbcType="BIT" property="enabled" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.fresh.manager.pojo.shop.Ad">
    <result column="image_url" jdbcType="LONGVARCHAR" property="imageUrl" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, ad_position_id, media_type, name, link, content, end_time, enabled
  </sql>
  <sql id="Blob_Column_List">
    image_url
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.fresh.manager.pojo.shop.AdExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from nideshop_ad
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.fresh.manager.pojo.shop.AdExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from nideshop_ad
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from nideshop_ad
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from nideshop_ad
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.fresh.manager.pojo.shop.AdExample">
    delete from nideshop_ad
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.fresh.manager.pojo.shop.Ad">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into nideshop_ad (ad_position_id, media_type, name, 
      link, content, end_time, 
      enabled, image_url)
    values (#{adPositionId,jdbcType=INTEGER}, #{mediaType,jdbcType=SMALLINT}, #{name,jdbcType=VARCHAR}, 
      #{link,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{endTime,jdbcType=TIMESTAMP}, 
      #{enabled,jdbcType=BIT}, #{imageUrl,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fresh.manager.pojo.shop.Ad">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into nideshop_ad
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="adPositionId != null">
        ad_position_id,
      </if>
      <if test="mediaType != null">
        media_type,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="link != null">
        link,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="enabled != null">
        enabled,
      </if>
      <if test="imageUrl != null">
        image_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="adPositionId != null">
        #{adPositionId,jdbcType=INTEGER},
      </if>
      <if test="mediaType != null">
        #{mediaType,jdbcType=SMALLINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="link != null">
        #{link,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="enabled != null">
        #{enabled,jdbcType=BIT},
      </if>
      <if test="imageUrl != null">
        #{imageUrl,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fresh.manager.pojo.shop.AdExample" resultType="java.lang.Long">
    select count(*) from nideshop_ad
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update nideshop_ad
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.adPositionId != null">
        ad_position_id = #{record.adPositionId,jdbcType=INTEGER},
      </if>
      <if test="record.mediaType != null">
        media_type = #{record.mediaType,jdbcType=SMALLINT},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.link != null">
        link = #{record.link,jdbcType=VARCHAR},
      </if>
      <if test="record.content != null">
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.endTime != null">
        end_time = #{record.endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.enabled != null">
        enabled = #{record.enabled,jdbcType=BIT},
      </if>
      <if test="record.imageUrl != null">
        image_url = #{record.imageUrl,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update nideshop_ad
    set id = #{record.id,jdbcType=INTEGER},
      ad_position_id = #{record.adPositionId,jdbcType=INTEGER},
      media_type = #{record.mediaType,jdbcType=SMALLINT},
      name = #{record.name,jdbcType=VARCHAR},
      link = #{record.link,jdbcType=VARCHAR},
      content = #{record.content,jdbcType=VARCHAR},
      end_time = #{record.endTime,jdbcType=TIMESTAMP},
      enabled = #{record.enabled,jdbcType=BIT},
      image_url = #{record.imageUrl,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update nideshop_ad
    set id = #{record.id,jdbcType=INTEGER},
      ad_position_id = #{record.adPositionId,jdbcType=INTEGER},
      media_type = #{record.mediaType,jdbcType=SMALLINT},
      name = #{record.name,jdbcType=VARCHAR},
      link = #{record.link,jdbcType=VARCHAR},
      content = #{record.content,jdbcType=VARCHAR},
      end_time = #{record.endTime,jdbcType=TIMESTAMP},
      enabled = #{record.enabled,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fresh.manager.pojo.shop.Ad">
    update nideshop_ad
    <set>
      <if test="adPositionId != null">
        ad_position_id = #{adPositionId,jdbcType=INTEGER},
      </if>
      <if test="mediaType != null">
        media_type = #{mediaType,jdbcType=SMALLINT},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="link != null">
        link = #{link,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="enabled != null">
        enabled = #{enabled,jdbcType=BIT},
      </if>
      <if test="imageUrl != null">
        image_url = #{imageUrl,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.fresh.manager.pojo.shop.Ad">
    update nideshop_ad
    set ad_position_id = #{adPositionId,jdbcType=INTEGER},
      media_type = #{mediaType,jdbcType=SMALLINT},
      name = #{name,jdbcType=VARCHAR},
      link = #{link,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      enabled = #{enabled,jdbcType=BIT},
      image_url = #{imageUrl,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fresh.manager.pojo.shop.Ad">
    update nideshop_ad
    set ad_position_id = #{adPositionId,jdbcType=INTEGER},
      media_type = #{mediaType,jdbcType=SMALLINT},
      name = #{name,jdbcType=VARCHAR},
      link = #{link,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      enabled = #{enabled,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
  
  
  
  
  
  
  
  <resultMap id="BaseResultMap3" type="com.fresh.manager.pojo.shop.Ad">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="ad_position_id" jdbcType="INTEGER" property="adPositionId" />
    <result column="media_type" jdbcType="SMALLINT" property="mediaType" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="link" jdbcType="VARCHAR" property="link" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="enabled" jdbcType="BIT" property="enabled" />
    <result column="image_url" jdbcType="LONGVARCHAR" property="imageUrl" />
    <result column="ad_Position_Name" jdbcType="VARCHAR" property="adPositionName" />
  </resultMap>
  
  
	<select id="queryList" parameterType="com.fresh.manager.pojo.shop.Ad" resultMap="BaseResultMap3" >
        select a.* , b.name ad_Position_Name 
         from nideshop_ad  a LEFT JOIN nideshop_ad_position b on a.ad_position_id = b.id
        <where>
			<if test="name != null and name.trim() != ''">
				 AND a.name LIKE concat('%',#{name},'%')
			</if>
		</where>
		order by a.id desc
    </select>
</mapper>