package ${package}.dao;

import ${package}.entity.${className}Entity;

/**
 * ${comments}Mapper
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
public interface ${className}Mapper extends BaseMapper<${className}Entity> {

}
